<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDocumentTypes</key><array>
<dict><key>CFBundleTypeName</key><string>Project Folder</string>
<key>CFBundleTypeRole</key><string>Editor</string>
<key>LSHandlerRank</key><string>Alternate</string>
<key>LSItemContentTypes</key><array><string>public.folder</string><string>public.directory</string></array>
<key>CFBundleTypeExtensions</key><array><string>folder</string></array>
</dict><dict><key>CFBundleTypeName</key><string>Source Code</string><key>CFBundleTypeRole</key><string>Editor</string><key>LSHandlerRank</key><string>Alternate</string><key>CFBundleTypeExtensions</key><array><string>txt</string><string>md</string><string>js</string><string>ts</string><string>tsx</string><string>jsx</string><string>json</string><string>html</string><string>css</string><string>code-workspace</string></array></dict></array>
<key>NSAppTransportSecurity</key><dict>
<key>NSAllowsLocalNetworking</key><true/>
<key>NSExceptionDomains</key><dict><key>localhost</key><dict>
<key>NSIncludesSubdomains</key><true/>
<key>NSExceptionAllowsInsecureHTTPLoads</key><true/>
</dict></dict>
</dict>
</dict></plist>
